@font-face{
    font-family:"BebasNeue";
    src: url(/fuentes/BebasNeue.ttf);
  
    letter-spacing: 3px;

}
@font-face{
font-family: "Lato-Regular";
src: url(fuentes/static/Lato-Regular.ttf);

}
@font-face{
font-family: "PixelifySans";
src: url(fuentes/PixelifySans-VariableFont_wght.ttf);
}


html{
    background-color: rgb(35, 31, 32);
    background-image: url(img/fondo.jpg); 
    

}




h1,h3{
font-family: "BebasNeue";

}

h2,h5{
font-family: "Lato-Regular";

}

h4{

    font-family: "PixelifySans";
}


footer{
    background-color: rgb(35, 31, 32);
    text-align: center;
}

.titulos{
background-color: rgb(246, 38, 41);
margin-left: 8rem;
margin-right: 8rem;
height: 8rem;
color: rgb(250, 250, 250);
text-align:center;
font-size: 3rem;
display:block;
}


.texto{
font-family: "BebasNeue";
color: rgb(250, 250, 250);
text-align: center;
margin-top: 40px;
font-size: 40px;
margin-left: 4rem;
margin-right: 4rem;
line-height: 1rem;
}
.bullets{
background-color:#d3d3d38a ;
width:323px;
height: 429px;
margin-right: 20px;
border-radius:41px;
text-align: center;


}
.tarjetas{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.titulo-bullet{
color: #D3D3D3 ;
font-size: 40px;
}

.cartas{
background-color:#F8ECEC ;
width:20rem;
height: 429px;
margin-right: auto;
margin-left: auto;
border-radius:41px;
text-align: center;



}

.escritores{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.perfiles{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.fotos{
margin-right: auto;
 margin-left: auto;
 margin-top:20px;
}


.bullets h2{
color: #D3D3D3;
margin-left: 1rem;
margin-right:1rem ;

}
.trevor{
max-width: 100%;
mask-image: linear-gradient(black 80%, transparent);
}

.protas{
font-size: 40px;
text-align: center;

}
.descripcion-miis{
    margin-left: 20px;
    margin-right: 20px;
font-size: 24px;

}
.opiniones{
    display: flex;
flex-direction: row;
justify-content:space-evenly;
align-items: center;
flex-wrap: wrap;
}

.cartas-opiniones{
    background-color:#F8ECEC ;
width:30rem;

align-content: center;
margin-left: 1rem;
margin-right: 2rem;
margin-top: 1rem ;
border-radius:41px;
text-align: center;
color: black;
font-size: 20px;

}
.opis{
margin-left: 20px;
margin-right: 20px;
margin-top: 70px;
}

.cita{
float:inline-start;
margin-left: 20px;

}
.nombres{
    
font-size: 32px;
text-align: start;
margin-left: 20px;
float: left;

}
.especialidad h5{
    color: rgba(0, 0, 0, 0.363);
font-size: 16px;
margin-top: -40px;

}
#titulo-principal {
font-size:4.68rem ;
color: rgb(250, 250, 250);
position: absolute;
margin-left: 1.25rem;
margin-right: 34.5rem;
transform: translate(50% 50%);
    top: 12rem;
    line-height: 0rem;
    
    
}
#subtitulo-principal{
    font-size: 1.8rem;
    color: rgb(250, 250, 250);
    position: absolute;
    margin-left: 1.25rem;
    margin-right: 30rem;
   
        top: 22rem;
}

@media (max-width:600px){
html,body{
    background-color: blueviolet
    ;
}
}
