@font-face{
    font-family:"BebasNeue";
    src: url(/fuentes/BebasNeue.ttf);
  
    letter-spacing: 3px;

}
@font-face{
font-family: "Lato-Regular";
src: url(fuentes/static/Lato-Regular.ttf);

}
@font-face{
font-family: "PixelifySans";
src: url(fuentes/PixelifySans-VariableFont_wght.ttf);
}


html{
    background-color: rgb(35, 31, 32);
    background-image: url(img/fondo.jpg); 
scroll-behavior: smooth;
font-size: 16px;

}




h1,h3{
font-family: "BebasNeue";

}

h2,h5{
font-family: "Lato-Regular";
font-size: 1.25rem;

}

h4{

    font-family: "PixelifySans";
}


footer{
    background-color: rgb(35, 31, 32);
    color: #E8E8E8;
    text-align: center;
    height: 149px;


}



body{
margin: 0;
padding: 0;
}


#carrusel_mobile{
display: none;
width: 90%;
height: 527px;

align-content: center;


margin-left: auto;
margin-right: auto;
margin-bottom: 6rem;
}

.miis_mobile img{
margin-left: 8.188rem;
width: 192px;
}
.descripcion-miis-mobile{
    text-align: center;
margin-left: 1.25rem;
margin-right: 1.25rem;
font-size: 21px;
    margin-top: -2.062rem;

}

.cartas_mobile{
    background-color:#F8ECEC ;
width:310px;
height: 238px;
border-radius:2.563rem;
    margin-left: 4.25rem;

}
.cartas_mobile h4{
font-size: 2rem;
text-align: center;
    padding-top: 1.861rem;

}






.texto-footer{
line-height: 3rem;
margin-bottom: 0rem;    
padding-top: 1.75rem;
}


.titulos{
color: #F02525;
font-size: 40px;
text-align: center;
margin-bottom: -1rem;
margin-top: 12.25rem;


}


.texto{
font-family: "Lato-Regular";
color:#D3D3D3;
text-align: center;
font-size: 32px;
line-height: 10px;
margin-bottom: 2.5rem;
margin-top: 1.25rem;
margin-left: 17rem;
margin-right: 17rem;
line-height: 40px;

}
.bullets{
background-color:rgba(217, 217, 217, 0.253);
 backdrop-filter: blur(3px); 
width:19rem;
height: 21rem;
margin-right: 2.75rem;
border-radius:2.5rem;
text-align: center;
 
}


.tarjetas{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.titulo-bullet{
color: #D3D3D3 ;
font-size: 2rem;
text-align: center;
padding-left: 1.25rem;
padding-right: 1.25rem;

}

.cartas{
 
background-color:rgb(248, 236, 236) ;

width:15.5rem;
height: 18.7rem;
margin-left: -8rem;
margin-right: -8rem;
border-radius:41px;
text-align: center;
}

.escritores{
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
}

.perfiles{
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
margin: 1.25rem;
margin-right: 7rem;
margin-left: 7.5rem;

}

.perfiles img{
width: 190px;
height: 190px;
}


.bullets h2{
color: #D3D3D3;
margin-left: 1rem;
margin-right:1rem ;

}
.trevor_escritorio{
    display: block;
max-width: 100%;
mask-image: linear-gradient(black 50%, transparent);
margin-bottom: 1.25rem;
}

.trevor_mobile{
display: none;
max-width: 100%;
mask-image: linear-gradient(black 50%, transparent);

}

.protas{
font-size: 2rem;

}
.descripcion-miis{
text-align: center;
margin-left: 1rem;
margin-right: 1rem;
font-size:  1.25rem;
margin-top: -2.5rem;

}
.opiniones{
    display: flex;
flex-direction: row;
justify-content:center;
align-items: center;
flex-wrap: wrap;
}

.cartas-opiniones{
display: block;

    background-color:#F8ECEC ;
width:26.875rem;
height: 13.125rem;

align-content: center;
margin-left: 1rem;
margin-right: 2rem;
margin-top: 2rem ;
border-radius:2.563rem;
text-align: center;
color: black;
font-size: 1.25rem;

}
.cartas-opiniones-top{
display: block;

    background-color:#F8ECEC ;
width:26.875rem;
height: 13.125rem;

align-content: center;
margin-left: 1rem;
margin-right: 2rem;
margin-top: 2rem ;
border-radius:2.563rem;
text-align: center;
color: black;
font-size: 1.25rem;

}


.opis{
margin-left: 1.25rem;
margin-right: 1.25rem;
margin-top: 4.375rem;

}
.opis h5{
    font-size: 1rem;
    margin: auto;
}

.cita{
float:inline-start;
margin-left: 1.25rem;
margin-top: 1.25rem;
margin-bottom: 1rem;


}
.nombres{
    
font-size: 1.5rem;
text-align: start;
margin-left: 1.25rem;
 line-height: 0rem;

}

.posicion-icons{
    margin-top: 1.25rem;

}

.especialidad h5{
    color: rgba(0, 0, 0, 0.849);
font-size: 1rem;
text-align: left;

}
.boton{
font-family: "BebasNeue";
width: 17.813rem;
height: 3rem;
margin-left: 2.5rem;
border-radius:1rem;
float:inline-start;

}

.boton{
font-size: 2rem;
text-align: center;
position: absolute;
top: 584px;
left: 1.25rem;
overflow: hidden;
background-color: #cfcfcfd7;
border-color: black;
}

.boton:hover{

background-color: #cfcfcf7a;
border-color: #CFCFCF;
    
}

.footer-flex{
    display: flex;
flex-direction: row-reverse;
justify-content:center;
align-items: center;
flex-wrap: wrap;
}

.sitios-web{
margin-left: 1.25rem;
margin-right: 2.25rem;
}


.completar-formulario{
display: flex;
flex-direction: column;
justify-content:center;
align-items: center;
flex-wrap: wrap;


}



.formulario_fondo{
background-color: #D9D9D9;
margin-left: 23.625rem;
margin-right: 24.313rem;
border-radius: 8%;
margin-bottom: 10rem;

}

.titulo_levelup{
width: 200px;
height:53px ;

}




input[type="text"] {
font-family: "BebasNeue";
font-size: 2rem;


margin-top: 1.25rem;
border-radius: 0.5rem;
width: 25.813rem;
height: 2.799rem;
}
input[type="email"]{
font-family: "BebasNeue";
font-size: 2rem;
margin-top: 1.25rem;
border-radius: 0.5rem;
width: 25.813rem;
height: 2.799rem;
}

input[type="submit"]{
font-family: "BebasNeue";
font-size: 2rem;
height: 3rem;
width: 17.813rem;
border-radius:1rem;
text-align: center;
background-color: #cfcfcfd7;
margin-top: 1.25rem;
margin-bottom: 1.25rem;
}
select{
   
font-family: "BebasNeue";
font-size: 2rem;
color: black;
margin-top: 1.25rem;
border-radius: 0.5rem;
width: 25.813rem;
height: 2.799rem;


}

option{
font-size: 1.25rem;
text-align: center;

}

.feedback{
   
  
    width: 498px;
    height: 282px;
    text-align: center;
    border-radius: 7%;
margin-bottom: -2rem;
    margin-top: -6rem;

}
.feedback h3{
    font-size: 32px;
    color:black;
  margin-bottom: -2rem;
    margin-left: 1.25rem;
   margin-right: 1.25rem;

}
.feedback h2{
font-size: 16px;
color: black;

 margin-left: 1.25rem;
 margin-right: 1.25rem;


}

.feedback img{
margin-left: 25rem;
margin-right: 1.25rem;
margin-top: 2rem;

}

.oculto{
display: none !important;

}



#titulo-principal {
font-size:60px ;
color: #D3D3D3;
position: absolute;
margin-left: 3.625rem;
margin-right: 900px;

    top: 16.063rem;
    line-height: 3rem;
    
    
}
#subtitulo-principal{
    font-size:1.875rem;
    color: rgb(250, 250, 250);
    position: absolute;
    margin-left: 3.625rem;
        top: 26rem;
}


#icon-mando{
    margin-top: -1rem;


}

@media screen and (max-width:500px) {
html,body{
    background-color: rgba(6, 96, 124, 0) ;

}

.trevor_escritorio{
display: none;
margin-bottom: 1.25rem;
background-size: cover;
max-width: 155%;
margin-left: -10rem;

}
.trevor_mobile{
display: block;

mask-image: linear-gradient(black 50%, transparent);
width: 100%;
}


.titulo_levelup{

height: 63px;

width: 245px;
margin-left: 9rem;
margin-top: 2.25rem;
margin-bottom: 2rem;
}

#titulo-principal {
font-size:96px ;
text-align: center;

margin-left: 6rem;
    top: 11.438rem;
    line-height: 5rem;
  
}

#subtitulo-principal{
font-size: 27px;
text-align: center;
   position: absolute;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
        top: 35.438rem;
}
.titulos{
font-size: 30px;
text-align: center;
margin-bottom: -1rem;
margin-top: 1.25rem;
letter-spacing: 2px;
}


.boton{
font-size: 2rem;
text-align: center;
position: absolute;
top: 687px;
left: 7.25rem;
overflow: hidden;
background-color: #cfcfcfd7;
border-color: black;
margin-left: 0rem;
}

.completar-formulario{
display: flex;
flex-direction: column;
justify-content:center;

flex-wrap: nowrap;
}

.completar-formulario{
background-color: #D9D9D9;
margin: auto;
border-radius: 8%;
margin-bottom: 10rem;
margin-left: 1.25rem;
margin-right: 1.25rem;
}

.texto{
   
text-align: center;
line-height: 2.7rem;
margin-left:3rem ;
margin-right: 3rem;
 font-size: 25px;
}

.tarjetas{
display: flex;
flex-direction: column;


}
.bullets{
width:26.875rem;
height: 162px;
margin-left: 2rem;
text-align: left;
 margin-bottom: 1rem;
 margin-right: 2rem;
}
.titulo-bullet{
color: #D3D3D3 ;
font-size: 2rem;
text-align: center;

margin-top: 0.6rem;
margin-left: 5rem;

}
.bullets h2 {
   
    margin-left: 8rem;
    margin-right: 1rem;
    margin-top: -26px;
   text-align: center;

}
    .bullets img {
        height: 70px;
        width: 70px;
        margin-left: 2rem;
        margin-top: -7rem;
    }

.cartas-opiniones{
display: none;

}

.cartas-opiniones-top{
display: block;

    background-color:#F8ECEC ;
width:26.875rem;
height: 16rem;

align-content: center;
margin-left: 1rem;
margin-right: 2rem;
margin-top: 2rem ;
border-radius:2.563rem;
text-align: center;
color: black;
font-size: 1.25rem;

}

.perfiles{
    display: none;
}
.escritores{

    display: none;
}

#carrusel_mobile{
display: block;

}


.feedback{
   
     width: 457px;
    height: 277px;
    text-align: center;
    border-radius: 7%;

}
.feedback h3{
    font-size: 32px;
    color:black;
  margin-bottom: -2rem;
    margin-left: 2.25rem;
   margin-right: 1.25rem;

}
.feedback h2{
font-size: 16px;
color: black;

 margin-left: 2.25rem;
 margin-right: 1.25rem;


}

.feedback img{
margin-left: 26rem;
margin-right: 1.25rem;
margin-top: 2rem;

}

.formulario_fondo{
background-color: #D9D9D9;
margin: auto;
border-radius: 8%;
margin-bottom: 10rem;
margin-left: 2.25rem;
margin-right: 2.25rem;
}


.select{
size: 4rem;

}

.opis h5{
    font-size: 21px;
}

.texto-footer{
padding-top: 0.5rem;
line-height: 2rem;
}
.sitios-web{

    margin-top: 1rem;
margin-right: 2rem;
margin-left: 1.25rem;

}

input[type="text"]{
width: 24rem;
}
input[type="email"]{
width: 24rem;
}
select{
width: 24rem;
font-size: 30px;
}


}
